.form-add-todo{
    width: 100%;
    font-size: 22px;
    padding: 10px 5px;
}

.btn-save-todo, .btn-show-list{
    width: 100%;
    padding: 15px;
    font-size: 18px;
    background-color: white;
    border: 1px solid #777;
    cursor: pointer;
    margin-top: 20px;
}