h1.title{
    text-align: center;
    color: #222;
}
p.subtitle{
    text-align: center;
    color: #555;
}

.todo-card{
    height: 500px;
    margin-top: 20px;
    background-color: white;
    padding: 50px;
    box-shadow: 0 1rem 3rem rgba(0,0,0,.175);
    border-radius: 4px;
}

.container{
    width: 700px;
    margin-top: 100px;
}